body {
    margin: 0;
    padding: 0;
}

nav {
    max-width: 95%;
    margin: 0 auto;
}

#sera {
    padding: 30px 0px;
    width: 100%;
    background-color: #BAA898;
}

#projects {
    width: 100%;
    background-color: #EBF5DF;
}

#work {
    width: 100%;
    background-color: #D6F8D6;
}

.smaller-box {
    width: 80%;
    position: relative;
    padding-left: 10%;
}

.header {
    padding: 30px 20px 0px;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    color: rgb(216, 0, 54);
}

.text {
    text-align: left;
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    margin: 1% 2%;
    width: 95%;
}

#top-bar {
    position: fixed;
    height: 40px;
    width: 100%;
    background: #443742;
    z-index: 10;
}

#menu {
    float: right;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu-item {
    float: left;
    font-family: 'Slabo 27px', serif;
}

.menu-item a {
    display: block;
    color: #fff;
    padding: 11px 20px;
    text-decoration: none;
    height: auto;
    width: auto;
}

.menu-item a:hover {
    background: #69626D;
}

#content {
    padding: 30px 0px 0px 0px;
}

#main-pic {
    display: inline-block;
    margin: 3%;
    width: 30%;
    vertical-align: middle;
}

.circle-img {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#white-circle-border {
    width: 100%;
    border-radius: 50%;
    background-color: #A26769;
    position: relative;
}

#main-bio {
    text-align: left;
    margin: 0% 3% 3% 3%;
    display: inline-block;
    width: 55%;
    vertical-align: top;
}

.question {
    font-size: 22px;
}

.answer {
    padding-left: 15px;
    font-size: 19px;
    color: #585b60;
    padding-bottom: 10px;
}

#big-text {
    font-size: 24px;
    padding: 5px 0px;
}

#centered-link {
    text-align: center;
}

.box-border {
    margin: 1% 0%;
    padding-top: 2%;
    border-top: solid;
    border-width: 3px;
}

.list-item-spaced {
    font-family: 'Slabo 27px', serif;
    padding: 3px;
}

#links {
    display: inline-block;
    padding: 0% 1%;
}

#link-resume {
    font-size: 19px;
    color: #585b60;
    padding-bottom: 10px;
    text-decoration: none;
}

#link-resume:hover {
    font-size: 22px;
}

.link:hover {
    font-size: 24px;
}

.link {
    font-size: 18px;
    text-decoration: none;
    color: #a54545;
    font-family: 'Slabo 27px', serif;
}

#projects {
    margin-top: 20px;
}

#project-list {
    text-align: center;
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
}

#escape-tools {
    padding-bottom: 5px;
}

#hangman-tools {
    padding-bottom: 5px;
}

#alexa-nutrition-tools {
    padding-bottom: 5px;
}

.proj-small {
    margin: 3%;
    bottom: 10px;
    border-top: solid;
    border-width: 3px;
}

.proj-img-big {
    width: 10%;
    display: inline-block;
    padding: 2% 5%;
    vertical-align: top;
}

.proj-img-small {
    border-radius: 50%;
    border: solid;
    border-color: white;
    display: inline-block;
    width: 100%;
    margin: -5px;
    margin-bottom: 2%;
    border-width: 5px;
    text-align: center;
    vertical-align: middle;
}

.proj-img {
    border-radius: 50%;
    border: solid;
    border-color: white;
    display: inline-block;
    width: 20%;
    margin: 2%;
    border-width: 5px;
    text-align: center;
}

.proj-des {
    display: inline-block;
    width: 70%;
    margin: 2%;
    font-size: 20px;
    font-family: 'Slabo 27px', serif;
    vertical-align: top;
}

#alexa-nutrition:hover #alexa-nutrition-circle {
    border-width: 3px;
    border-color: rgb(216, 0, 54);
}

#hangman:hover #hangman-circle {
    border-width: 3px;
    border-color: rgb(216, 0, 54);
}

#escape:hover #escape-circle {
    border-width: 3px;
    border-color: rgb(216, 0, 54);
}

.tool-list {
    width: 96%;
    margin: 2% 2%;
}

.tool {
    border-radius: 10px;
    margin: 1%;
    padding: 0.3% 2%;
    border: solid;
    border-color: rgb(229, 52, 45);
    border-width: 2px;
    display: inline-block;
}

.solid-line {
    border-top: 3px;
    border-style: solid none none none;
    width: 90%;
    margin: 2% 3%;
    padding: 2%;
}

.title {
    color: black;
    font-size: 24px;
    font-family: 'Slabo 27px', serif;
}

.work-img {
    display: inline-block;
    width: 30%;
    vertical-align: center;
}

.work-description {
    display: inline-block;
    width: 60%;
    padding-left: 20px;
    float: top;
    font-size: 20px;
}

.list-item {
    font-family: 'Slabo 27px', serif;
}
