body {
    margin: 0;
    background-color: rgb(48, 51, 56);
}

nav {
    max-width: 95%;
    margin: 0 auto;
}

.box-blue {
    margin: 120px 5%;
    background-color: rgb(227, 235, 247);
}

.header {
    padding-top: 20px;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    color: rgb(216, 0, 54);
}

.text {
    text-align: left;
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
}

#top-bar {
    position: fixed;
    height: 40px;
    width: 100%;
    background: rgb(40, 82, 150);
}

#menu {
    float: right;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu-item {
    float: left;
    font-family: 'Slabo 27px', serif;
}

.menu-item a {
    display: block;
    color: #fff;
    padding: 11px 20px;
    text-decoration: none;
    height: auto;
    width: auto;
}

.menu-item a:hover {
    background: rgba(41, 170, 214, .8);
}

#content {
    padding: 20px 0px 0px;
}

#bio-header {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    color: rgb(216, 0, 54);
    margin-bottom: 10px;
}

#main-bio {
    text-align: left;
    margin: 0% 3% 3% 3%;
    display: inline-block;
    width: 55%;
    vertical-align: top;
}

#main-pic {
    display: inline-block;
    margin: 3%;
    width: 30%;
}

#big-text{
  font-size: 24px;
}

.box-border{
  margin: 3% 0%;
  padding-top: 2%;
  border-top: solid;
  border-width: 3px;
}

.list-item-spaced {
    font-family: 'Slabo 27px', serif;
    padding:3px;
}

#links {
    margin: 6px;
    width: 200px;
}

.link {
    font-size: 20px;
    text-decoration: none;
    color: red;
    padding-right: 30%;
    font-family: 'Slabo 27px', serif;
}

.edu-box {
    margin: 20px 2%;
    display: inline-block;
    width: 45%;
    text-align: center;
    font-size: 22px;
}

.small-edu {
    margin: 5px 5%;
    width: 90%;
    text-align: left;
}

#projects {
    margin-top: 20px;
}

#project-list {
    text-align: center;
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
}

#escape-tools{
  padding-bottom: 5px;
}

#hangman-tools{
  padding-bottom: 5px;
}

#alexa-nutrition-tools{
  padding-bottom: 5px;
}

.proj-small {
    margin: 3%;
    bottom: 10px;
    border-top: solid;
    border-width: 3px;
}

.proj-img-big {
    width: 10%;
    display: inline-block;
    padding: 2% 5%;
    text-align: center;
}

.proj-img-small {
    border-radius: 50%;
    border: solid;
    border-color: white;
    display: inline-block;
    width: 100%;
    margin: -5px;
    margin-bottom: 2%;
    border-width: 5px;
    text-align: center;
    vertical-align: middle;
}

.proj-img {
    border-radius: 50%;
    border: solid;
    border-color: white;
    display: inline-block;
    width: 20%;
    margin: 2%;
    border-width: 5px;
    text-align: center;
}

.proj-des {
    display: inline-block;
    width: 70%;
    margin: 2%;
    font-size: 20px;
    font-family: 'Slabo 27px', serif;
    vertical-align: top;
}

#alexa-nutrition:hover #alexa-nutrition-circle{
    border-width: 3px;
    border-color: rgb(216, 0, 54);
}

#hangman:hover #hangman-circle{
    border-width: 3px;
    border-color: rgb(216, 0, 54);
}

#escape:hover #escape-circle{
    border-width: 3px;
    border-color: rgb(216, 0, 54);
}

.tool-list {
    width: 96%;
    margin: 2% 2%;
}

.tool {
    border-radius: 10px;
    margin: 1%;
    padding: 0.3% 2%;
    border: solid;
    border-color: red;
    border-width: 2px;
    display: inline-block;
}

.solid-line {
    border-top: 3px;
    border-style: solid none none none;
    width: 90%;
    margin: 2% 3%;
    padding: 2%;
}

.title {
    color: black;
    font-size: 24px;
    font-family: 'Slabo 27px', serif;
}

.work-img {
    display: inline-block;
    width: 30%;
    vertical-align: center;
}

.work-description {
    display: inline-block;
    width: 60%;
    padding-left: 20px;
    float: top;
    font-size: 20px;
}

.list-item {
    font-family: 'Slabo 27px', serif;
}
