body {
    margin: 0px;
    padding: 0px;
}

nav {
    max-width: 95%;
    margin: 0 auto;
}

#sera {
    padding: 30px 0px;
    width: 100%;
    background-color: #BAA898;
}

#projects {
    width: 100%;
    background-color: #EAF9F0;
}

#work {
    width: 100%;
    background-color: #F9DEC9;
    padding-bottom: 8%;
}

.smaller-box {
    width: 80%;
    position: relative;
    padding-left: 10%;
}

.header {
    padding: 30px 50px 0px;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 38px;
    color: rgb(216, 0, 54);
}

.text {
    text-align: left;
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    margin: 1% 2%;
    width: 95%;
}

#top-bar {
    position: fixed;
    height: 40px;
    width: 100%;
    background: #443742;
    z-index: 10;
}

#menu {
    float: right;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu-item {
    float: left;
    font-family: 'Slabo 27px', serif;
}

.menu-item a {
    display: block;
    color: #fff;
    padding: 11px 20px;
    text-decoration: none;
    height: auto;
    width: auto;
}

.menu-item a:hover {
    background: #69626D;
}

#content {
    padding: 30px 0px 0px 0px;
}

#main-pic {
    display: inline-block;
    margin: 3%;
    width: 30%;
    vertical-align: middle;
}

.circle-img {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#white-circle-border {
    width: 100%;
    border-radius: 50%;
    background-color: #A26769;
    position: relative;
}

#main-bio {
    text-align: left;
    margin: 0% 3% 3% 3%;
    display: inline-block;
    width: 55%;
    vertical-align: top;
}

.question {
    font-size: 22px;
}

.answer {
    padding-left: 15px;
    font-size: 19px;
    color: #585b60;
    padding-bottom: 10px;
}

#big-text {
    font-size: 24px;
    padding: 5px 0px;
}

#centered-link {
    text-align: center;
}

#header-projects {
    padding: 40px 50px 0px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    color: rgb(216, 0, 54);
}

.background-rectangle-color {
    width: 43%;
    background-color: #829399;
    height: 500px;
    display: inline-block;
    position: relative;
    margin: 0% 3% 4%;
}

#color-1 {
    height: 68%;
    width: 99%;
    background-color: #C4CAD0;
    position: absolute;
    top: 0.5%;
    left: 0.5%;
}

#color-2 {
    height: 68%;
    width: 99%;
    background-color: #D0E3CC;
    position: absolute;
    top: 0.5%;
    left: 0.5%;
}

#color-3 {
    height: 68%;
    width: 99%;
    background-color: #CCC7B9;
    position: absolute;
    top: 0.5%;
    left: 0.5%;
}

#color-4 {
    height: 68%;
    width: 99%;
    background-color: #C7D59F;
    position: absolute;
    top: 0.5%;
    left: 0.5%;
}

.centered-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.white-bottom {
    width: 99%;
    background-color: white;
    height: 30.5%;
    position: absolute;
    top: 69%;
    left: 0.5%;
}

.box-border {
    margin: 1% 0%;
    padding-top: 2%;
    border-top: solid;
    border-width: 3px;
}

.list-item-spaced {
    font-family: 'Slabo 27px', serif;
    padding: 3px;
}

#links {
    display: inline-block;
    padding: 0% 1%;
}

#link-resume {
    font-size: 19px;
    color: #585b60;
    padding-bottom: 10px;
    text-decoration: none;
}

#link-resume:hover {
    font-size: 22px;
}

.link:hover {
    font-size: 24px;
}

.link {
    font-size: 18px;
    text-decoration: none;
    color: #a54545;
    font-family: 'Slabo 27px', serif;
}

.proj-small {
    margin: 3%;
    bottom: 10px;
    border-top: solid;
    border-width: 3px;
}

.proj-img-big {
    width: 10%;
    display: inline-block;
    padding: 2% 5%;
    vertical-align: top;
}

.proj-img-small {
    border-radius: 50%;
    border: solid;
    border-color: white;
    display: inline-block;
    width: 100%;
    margin: -5px;
    margin-bottom: 2%;
    border-width: 5px;
    text-align: center;
    vertical-align: middle;
}

.proj-img {
    border-radius: 50%;
    border: solid;
    border-color: white;
    display: inline-block;
    width: 20%;
    margin: 2%;
    border-width: 5px;
    text-align: center;
}

.proj-des {
    display: inline-block;
    width: 70%;
    margin: 2%;
    font-size: 20px;
    font-family: 'Slabo 27px', serif;
    vertical-align: top;
}

.tool-list {
    text-align: center;
    margin: 1% 0% 0%;
}

.tool {
    border-radius: 10px;
    margin: 0% 1%;
    padding: 0.3% 2%;
    border: solid;
    border-color: #00CECB;
    border-width: 1.4px;
    display: inline-block;
    font-family: 'Slabo 27px', serif;
}

.proj-small-title {
    font-family: 'Slabo 27px', serif;
    font-size: 26px;
    padding-top: 2%;
    text-align: center;
}

.proj-small-text {
    font-family: 'Slabo 27px', serif;
    font-size: 18px;
    padding: 2% 4%;
}

.solid-line {
    border-top: 2px;
    border-style: solid none none none;
    width: 80%;
    margin: 2% 10% 0%;
    padding: 2% 2% 0% 2%;
}

.company-title {
    margin: 0%;
    display: inline-block;
}

.company-link {
    font-size: 30px;
    text-decoration: none;
    color: #5D5D81;
    font-family: 'Slabo 27px', serif;
}

.company-link:hover {
    font-size: 36px;
}

.date {
    font-size: 18px;
    color: #9CAEA9;
    font-family: 'Slabo 27px', serif;
    margin-top: 0.3%;
}

.company-position {
    font-size: 26px;
    text-decoration: none;
    color: #5D5D81;
    font-family: 'Slabo 27px', serif;
    padding: 1% 0% 0% 1%;
    display: inline-block;
}

.company-work {
    font-size: 22px;
    text-decoration: none;
    color: black;
    font-family: 'Slabo 27px', serif;
    margin-top: 2%;
    width: 93%;
}

.languages-list {
    text-align: left;
    margin: 2% 0% 0%;
    width: 50%;
}

.help-img-center {}

.company-img {
    display: inline-block;
    width: 20%;
    margin-left: 10%;
    margin-top: 0%;
    text-align: center;
}

.company-other {
    display: inline-block;
    width: 65%;
    margin-left: 3%;
}

.company-name{
  font-size: 30px;
  text-decoration: none;
  color: #5D5D81;
  font-family: 'Slabo 27px', serif;
}

.company-logo{
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.company-circle-border{
  border-radius: 50%;
  background-color: #F1BF98;
  width: 70%;
  position: relative;
}
