body {
    margin: 0;
    background-color: rgb(48, 51, 56);
}

nav {
    max-width: 95%;
    margin: 0 auto;
}

.box-blue {
    margin: 120px 5%;
    background-color: rgb(227, 235, 247);
}

.box-gray {
    margin: 120px 5%;
    background-color: rgb(212, 216, 221);
}

.header {
    padding-top: 20px;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    color: rgb(216, 0, 54);
}

.text {
    text-align: left;
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
}

#top-bar {
    position: fixed;
    height: 40px;
    width: 100%;
    background: rgb(40, 82, 150);
}

#menu {
    float: right;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu-item {
    float: left;
    font-family: 'Slabo 27px', serif;
}

.menu-item a {
    display: block;
    color: #fff;
    padding: 11px 20px;
    text-decoration: none;
    height: auto;
    width: auto;
}

.menu-item a:hover {
    background: rgba(41, 170, 214, .8);
}

#content {
    padding: 20px 0px 0px;
}

#bio-header {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    color: rgb(216, 0, 54);
    margin-bottom: 10px;
}

#main-bio {
    text-align: left;
    margin: 0% 3% 3% 3%;
    display: inline-block;
    width: 55%;
    vertical-align: top;
}

#main-pic {
    display: inline-block;
    margin: 3%;
    width: 30%;
}

#links {
    margin: 10px;
    width: 200px;
}

.link {
    font-size: 20px;
    text-decoration: none;
    color: red;
    padding-right: 30%;
    font-family: 'Slabo 27px', serif;
}

.edu-box {
    margin: 20px 2%;
    display: inline-block;
    width: 45%;
    text-align: center;
    font-size: 22px;
}

.small-edu {
    margin: 5px 5%;
    width: 90%;
    text-align: left;
}

.proj-small {
    margin: 3%;
    bottom: 10px;
    border: solid;
    border-radius: 20px 100px;
    border-width: 2px;
}

.proj-img {
    border-radius: 50%;
    border: solid;
    border-color: white;
    display: inline-block;
    width: 20%;
    margin: 2%;
    border-width: 5px;
    text-align: center;
}

.proj-des {
    display: inline-block;
    width: 70%;
    margin: 2%;
    font-size: 20px;
    font-family: 'Slabo 27px', serif;
    vertical-align: top;
}

.tool-list{
  width: 96%;
  margin: 2% 2%;
}

.tool{
  border-radius: 10px;
  margin: 1%;
  padding: 0.3% 2%;
  border:solid;
  border-color: red;
  border-width: 2px;
  display: inline-block;
}
